<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>东莞市东华高级中学</title>
  <meta name="pageType" content="1"> 
  <meta name="pageTitle" content="东莞市东华高级中学"> 
  <meta Name="SiteName" Content="东莞市东华高级中学"> 
  <meta Name="SiteDomain" Content="dgsdhgjzx.dgjy.net"> 
  <meta Name="name" Content="网站首页"> 
  <meta Name="type" Content="index"> 
  <meta Name="description" Content="show"> 
  <meta Name="keywords" Content="网站首页"> 
  <link rel="stylesheet" href="css/public.css"> 
  <link rel="stylesheet" href="css/index.css"> 
  <link rel="stylesheet" href="css/slick-theme.css"> 
  <link rel="stylesheet" href="css/slick.css"> 
  <script src="js/jquery.js"></script> 
  <!--Announced by Visual SiteBuilder 9--> 
  <link rel="stylesheet" type="text/css" href="css/_sitegray_d.css"> 
  <script language="javascript" src="js/_sitegray.js"></script> 
  <!-- CustomerNO:77656262657232307c78475d50545742000100024754 --> 
  <link rel="stylesheet" type="text/css" href="css/index.vsb.css"> 
  <script type="text/javascript" src="js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script> 
  <script type="text/javascript" src="js/counter.js"></script> 
  <script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1769378822)</script> 
 </head> 
 <body> 
  <div class="head"> 
   <div class="header-top"> 
    <div class="head-top px1300"> 
     <div class="head-l"> 
      <!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 --> 
      <a href="index.htm" title="东莞市东华高级中学"><img src="images/xinwaiwanglogofuben1.png" alt=""></a>
     </div>
     <div class="nav">
      <ul>
       <li> <a href="xxgk.htm" title="学校概况" target="_self">学校概况</a>
        <ul class="meau-2">
         <li><a href="xxgk/xxjj.htm" title="学校简介" target="_self">学校简介</a></li>
         <li><a href="xxgk/dsz.htm" title="董事长" target="_self">董事长</a></li>
         <li><a href="xxgk/xzln.htm" title="校长理念" target="_self">校长理念</a></li>
         <li><a href="xxgk/xzld.htm" title="行政领导" target="_self">行政领导</a></li>
         <li><a href="xxgk/ldgh.htm" title="领导关怀" target="_self">领导关怀</a></li>
         <li><a href="xxgk/xxry.htm" title="学校荣誉" target="_self">学校荣誉</a></li>
         <li><a href="xxgk/xyfg.htm" title="校园风光" target="_self">校园风光</a></li>
        </ul> </li>
       <li> <a href="xyzx.htm" title="校园资讯" target="_self">校园资讯</a>
        <ul class="meau-2">
         <li><a href="xyzx/xxxw.htm" title="学校新闻" target="_self">学校新闻</a></li>
         <li><a href="xyzx/tzgg.htm" title="通知公告" target="_self">通知公告</a></li>
        </ul> </li>
       <li> <a href="djzc.htm" title="党建之窗" target="_self">党建之窗</a>
        <ul class="meau-2">
         <li><a href="djzc/zbjg.htm" title="支部架构" target="_self">支部架构</a></li>
         <li><a href="djzc/djhd.htm" title="党建活动" target="_self">党建活动</a></li>
        </ul> </li>
       <li> <a href="jyky.htm" title="教育科研" target="_self">教育科研</a>
        <ul class="meau-2">
         <li><a href="jyky/jdcgzzz.htm" title="教导处工作职责" target="_self">教导处工作职责</a></li>
         <li><a href="jyky/kzjs.htm" title="科组建设" target="_self">科组建设</a></li>
         <li><a href="jyky/kcjs.htm" title="课程建设" target="_self">课程建设</a></li>
         <li><a href="jyky/jscz.htm" title="教师成长" target="_self">教师成长</a></li>
         <li><a href="jyky/gxkt.htm" title="高效课堂" target="_self">高效课堂</a></li>
         <li><a href="jyky/ktyj.htm" title="课题研究" target="_self">课题研究</a></li>
        </ul> </li>
       <li> <a href="dyzc.htm" title="德育之窗" target="_self">德育之窗</a>
        <ul class="meau-2">
         <li><a href="dyzc/szzz.htm" title="思政职责" target="_self">思政职责</a></li>
         <li><a href="dyzc/ldzh.htm" title="立德铸魂" target="_self">立德铸魂</a></li>
         <li><a href="dyzc/xzzg.htm" title="行者追光" target="_self">行者追光</a></li>
         <li><a href="dyzc/dyky.htm" title="德育科研" target="_self">德育科研</a></li>
        </ul> </li>
       <li> <a href="msgzs.htm" title="名师工作室" target="_self">名师工作室</a>
        <ul class="meau-2">
         <li><a href="msgzs/mxzgzs.htm" title="名校长工作室" target="_self">名校长工作室</a></li>
         <li><a href="msgzs/mbzrgzs.htm" title="名班主任工作室" target="_self">名班主任工作室</a></li>
        </ul> </li>
       <li> <a href="xstd.htm" title="学生天地" target="_self">学生天地</a>
        <ul class="meau-2">
         <li><a href="xstd/xtwxsh.htm" title="校团委学生会" target="_self">校团委学生会</a></li>
         <li><a href="xstd/xshd.htm" title="学生活动" target="_self">学生活动</a></li>
         <li><a href="xstd/sttd.htm" title="社团天地" target="_self">社团天地</a></li>
        </ul> </li>
       <li> <a href="zszp.htm" title="招生招聘" target="_self">招生招聘</a>
        <ul class="meau-2">
         <li><a href="zszp/xxzs.htm" title="学校招生" target="_self">学校招生</a></li>
         <li><a href="zszp/jszp.htm" title="教师招聘" target="_self">教师招聘</a></li>
         <li><a href="zszp/zyzp.htm" title="职员招聘" target="_self">职员招聘</a></li>
        </ul> </li>
       <li> <a href="xyhw.htm" title="校友回望" target="_self">校友回望</a>
        <ul class="meau-2">
         <li><a href="xyhw/zmxy.htm" title="知名校友" target="_self">知名校友</a></li>
        </ul> </li>
       <div class="clear"></div>
      </ul>
     </div>
     <div class="head-r">
      <div class="search">
       <script language="javascript" src="js/base64.js"></script>
       <script language="javascript" src="js/jquery-latest.min.js"></script>
       <script language="javascript" src="js/vue.js"></script>
       <script language="javascript" src="js/bluebird.min.js"></script>
       <script language="javascript" src="js/axios.js"></script>
       <script language="javascript" src="js/polyfill.js"></script>
       <script language="javascript" src="js/token.js"></script>
       <link href="css/index_755f5e7ddad64fad8b7690cf3e496aeb.css" type="text/css" rel="stylesheet">
       <script language="javascript" src="js/index.js"></script>
       <script language="javascript" src="js/public.js"></script>
       <style>
    #appu2 .qwss{
       width: 160px;
    padding-left: 10px;
    padding-right: 6px;
    height: 36px;
    vertical-align: middle;
    background-color: transparent;
    font-size: 14px;}
    #appu2 .tj{
       line-height: 36px;
    vertical-align: middle;}
</style>
       <div id="divu2"></div>
       <script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="请输入关键字" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="image" src="images/search.png" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
       <script>
    $("#divu2").html($("#htmlu2").text());
</script>
       <script>
    var appOwner = "1769378822";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://jyxxapp.dgjy.net:8080/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
      </div>
      <img src="images/search.png" alt="" class="pic">
     </div>
     <div class="clear"></div>
    </div>
   </div>
   <script language="javascript" src="js/dynclicks.js"></script>
   <div class="banner">
    <div>
     <a href="info/1111/9452.htm" title="东华教育集团成立二十周年庆典隆重举行" target="_blank" onclick="_addDynClicks(&quot;wbimage&quot;, 1769378822, 69204)"><img src="images/banner_3.jpg" alt=""> <p>东华教育集团成立二十周年庆典隆重举行</p> </a>
    </div>
    <div>
     <a href="info/1111/8302.htm" title="福满东华 ——校友们祝福母校建校20周年生日快乐！" target="_blank" onclick="_addDynClicks(&quot;wbimage&quot;, 1769378822, 67654)"><img src="images/banner_2.jpg" alt=""> <p>福满东华 ——校友们祝福母校建校20周年生日快乐！</p> </a>
    </div>
    <div>
     <a href="info/1111/8332.htm" title="吴硕贤院士在东华高级中学举行专题讲座" target="_blank" onclick="_addDynClicks(&quot;wbimage&quot;, 1769378822, 67655)"><img src="images/banner_3.jpg" alt=""> <p>吴硕贤院士在东华高级中学举行专题讲座</p> </a>
    </div>
    <div>
     <a href="info/1111/8272.htm" title="红笺承福愿，翰墨书深情 ——生态园校区举行迎新年对联征集、书写及张贴活动" target="_blank" onclick="_addDynClicks(&quot;wbimage&quot;, 1769378822, 1843)"><img src="images/banner_1.jpg" alt=""> <p>红笺承福愿，翰墨书深情 ——生态园校区举行迎新年对联征集、书写及张贴活动</p> </a>
    </div>
   </div>
  </div>
  <!-- 中心 -->
  <div class="main">
   <div class="main-top px1300">
    <div class="main-top-l">
     <div class="title">
      <h3><span>学校</span><span>新闻</span></h3>
      <a href="xyzx/xxxw.htm">更多</a>
     </div>
     <div class="dt-pic">
      <ul>
       <script language="javascript" src="js/centerCutImg.js"></script>
       <script language="javascript" src="js/ajax.js"></script>
       <li style="margin-left:0;"> <a href="info/1111/12342.htm" title="长风破浪会有时，直挂云帆济沧海——东华教育集团举行新春开学动员大会" target="_blank">
         <div class="pic">
          <img src="images/CB9A291C9ABFC7B39F8822C8A4D_E83D1723_188F5.jpg" alt="">
         </div>
         <div class="pic-text">
          <p>长风破浪会有时，直挂云帆济沧海——东华教育集团...</p>
          <i></i>
          <span>2023-02-15</span>
         </div> </a> </li>
       <li> <a href="info/1111/12212.htm" title="两校三区2022-2023学年第一学期期末总结表彰大会隆重举行" target="_blank">
         <div class="pic">
          <img src="images/0918525530AC441C285AD7810ED_A4965E30_18832.jpg" alt="">
         </div>
         <div class="pic-text">
          <p>两校三区2022-2023学年第一学期期末总结表彰大会隆...</p>
          <i></i>
          <span>2023-01-14</span>
         </div> </a> </li>
       <li> <a href="info/1111/9982.htm" title="高一年级学期中后段心理健康教育系列微课综述" target="_blank">
         <div class="pic">
          <img src="images/AB0FD1E049709F6FABB824CB870_372E4A86_8005.jpg" alt="">
         </div>
         <div class="pic-text">
          <p>高一年级学期中后段心理健康教育系列微课综述</p>
          <i></i>
          <span>2023-01-03</span>
         </div> </a> </li>
       <script>_showDynClickBatch(['dynclicks_u4_12342','dynclicks_u4_12212','dynclicks_u4_9982'],[12342,12212,9982],"wbnews", 1769378822)</script>
       <div id="#xf">
        <script src="js/jquery.min.js"></script>
        <script>
var count = 5;   //默认显示5条数据，自行修改
//通知公告 用tzgg.json      新闻动态或者学校新闻 用xwdt.json
$(function (){
   $.ajax({
            type: "get",
            dataType: "json",
            url: "https://www.dgjy.net/zhuzhan/xwdt.json?radom="+Math.random(),
            success: function (data){

                $("#xf").html(""); //清空里面的内容   首页的话，两个组件，xf 看具体组件，改成  $("#xf1")
                var obj1 =data;
                var html = "";
                for (var i = 0; i <obj1.length&&i<count; i++) {
                    var  title = obj1[i].title;//标题
                    var date = obj1[i].date;//发布日期2021-05-12 00:00:00
                    var url =  obj1[i].url;//文章链接
                    var picurl =  obj1[i].picurl;//标题图
                    var summary =  obj1[i].summary;//摘要
                    summary = summary.substring(0,20);//默认取20个字，根据自己需要改
                    var year = date.substring(0,4);//年
                    var month = date.substring(5,7);//月
                    var day = date.substring(8,10);//日

                    //拼需要循环展示的数据  实施自行替换
                    html+=" <li> " ;
                    html+=" <a href='"+url+"'>";
                    html+=" <div class='pic'>";
                    html+=" <img src='"+picurl+ "'>";
                    html+=" </div>";
                    html+=" <div class='pic-text'>";
                    html+="  <p style=''>"+title+"</p>";
                    html+="  <i></i>";
                    html+="<span>"+year+"-"+month+"-"+"day"+"</span>";
                    html+=" </div>";
                    html+=" </a>";
                    html+= "</li>";
                   //实施部分结束
                }

                //将拼好的数据放入对应的位置   首页的话，两个组件，xf 看具体组件，改成  $("#xf1")
                $("#xf").html(html);
            },
            error: function (xhr, textStatus, errorThrown) {

　　　　
            }

        });
        })
</script>
       </div>
       <script>_showDynClickBatch(['dynclicks_u5_12342','dynclicks_u5_12212','dynclicks_u5_9982','dynclicks_u5_9452','dynclicks_u5_9992'],[12342,12212,9982,9452,9992],"wbnews", 1769378822)</script>
      </ul>
     </div>
    </div>
    <div class="main-top-r">
     <div class="title">
      <h3><span>通知</span><span>公告</span></h3>
      <a href="xyzx/tzgg.htm">更多</a>
     </div>
     <div class="tz-text">
      <ul>
       <li> <a href="info/1121/10592.htm">
         <div class="date">
          <p>28</p>
          <span>2022.12</span>
         </div>
         <div class="date-t">
          <p>重大调整！新冠病毒感染将由“乙类甲管”调整为“乙类乙管” </p>
         </div> </a> </li>
       <li> <a href="info/1121/10602.htm">
         <div class="date">
          <p>22</p>
          <span>2022.10</span>
         </div>
         <div class="date-t">
          <p>习近平：实施科教兴国战略，强化现代化建设人才支撑 </p>
         </div> </a> </li>
       <li> <a href="info/1121/3551.htm">
         <div class="date">
          <p>06</p>
          <span>2020.08</span>
         </div>
         <div class="date-t">
          <p>转东莞市扫黑除恶专项斗争领导小组 致全市人民的一封感谢信 </p>
         </div> </a> </li>
       <script>_showDynClickBatch(['dynclicks_u6_10592','dynclicks_u6_10602','dynclicks_u6_3551'],[10592,10602,3551],"wbnews", 1769378822)</script>
       <div id="xf1">
        <script src="js/jquery.min.js"></script>
        <script>
var count = 5;   //默认显示5条数据，自行修改
//通知公告 用tzgg.json      新闻动态或者学校新闻 用xwdt.json
$(function (){
   $.ajax({
            type: "get",
            dataType: "json",
            url: "https://www.dgjy.net/zhuzhan/tzgg.json?radom="+Math.random(),
            success: function (data){

                $("#xf1").html(""); //清空里面的内容   首页的话，两个组件，xf 看具体组件，改成  $("#xf1")
                var obj1 =data;
                var html = "";
                for (var i = 0; i <obj1.length&&i<count; i++) {
                    var  title = obj1[i].title;//标题
                    var date = obj1[i].date;//发布日期2021-05-12 00:00:00
                    var url =  obj1[i].url;//文章链接
                    var picurl =  obj1[i].picurl;//标题图
                    var summary =  obj1[i].summary;//摘要
                    summary = summary.substring(0,20);//默认取20个字，根据自己需要改
                    var year = date.substring(0,4);//年
                    var month = date.substring(5,7);//月
                    var day = date.substring(8,10);//日

                    //拼需要循环展示的数据  实施自行替换
                    html+=" <li> " ;
                    html+=" <a href='"+url+"'>";
                    html+=" <div class='date'>";
                    html+=" <p>"+day+"</p><span>"+year+"."+month+"</span>";
                    html+=" </div>";
                    html+=" <div class='date-t'>";
                    html+="  <p style=''>"+title+"</p>";
                    html+=" </div>";
                    html+=" </a>";
                    html+= "</li>";
                   //实施部分结束
                }

                //将拼好的数据放入对应的位置   首页的话，两个组件，xf 看具体组件，改成  $("#xf1")
                $("#xf1").html(html);
            },
            error: function (xhr, textStatus, errorThrown) {

　　　　
            }

        });
        })
</script>
       </div>
       <script>_showDynClickBatch(['dynclicks_u7_10592','dynclicks_u7_10602','dynclicks_u7_3551','dynclicks_u7_3531','dynclicks_u7_3511'],[10592,10602,3551,3531,3511],"wbnews", 1769378822)</script>
      </ul>
     </div>
    </div>
   </div>
   <div class="main-middle">
    <div class="yd px1300">
     <div class="yd-l">
      <ul>
       <li>
        <div class="title">
         <h3><span>社团天地</span></h3>
         <a href="xstd/sttd.htm">更多</a>
        </div>
        <div class="yd-pic" style="width: 100%;overflow: hidden;height: 167px;">
         <a href="info/2362/11682.htm"> <img src="images/287924EB5B530DE3933E62DE663_D6051988_14004.jpg" alt="" style="height: 167px;margin: 0 auto;display: block;background: #689646;"> </a>
        </div>
        <div class="yd-text">
         <ul>
          <li><a href="info/2362/11692.htm" title="南方报业小记者东华高级中学、东华松山湖高级中学“校园记者站”授牌仪式成功举行" target="_blank">南方报业小记者东华高级中学、东华松山湖高级中学...<span>10/29</span></a></li>
          <li><a href="info/2362/11702.htm" title="东城校区举行世界精神卫生日活动" target="_blank">东城校区举行世界精神卫生日活动<span>10/17</span></a></li>
          <li><a href="info/2362/11712.htm" title="东华高级中学（东城校区）顺利举行社团招新游园活动" target="_blank">东华高级中学（东城校区）顺利举行社团招新游园活动<span>09/13</span></a></li>
         </ul>
        </div> <script>_showDynClickBatch(['dynclicks_u8_11682','dynclicks_u8_11692','dynclicks_u8_11702','dynclicks_u8_11712'],[11682,11692,11702,11712],"wbnews", 1769378822)</script> </li>
       <li>
        <div class="title">
         <h3><span>学生活动</span></h3>
         <a href="xstd/xshd.htm">更多</a>
        </div>
        <div class="yd-pic" style="width: 100%;overflow: hidden;height: 167px;">
         <a href="info/1491/11592.htm"> <img src="images/42D8DA509F5DAE82429EB777588_12CAE391_27A3E.jpg" alt="" style="height: 167px;margin: 0 auto;display: block;background: #689646;"> </a>
        </div>
        <div class="yd-text">
         <ul>
          <li><a href="info/1491/11602.htm" title="生态园校区高二年级顺利举行跑操比赛" target="_blank">生态园校区高二年级顺利举行跑操比赛<span>10/10</span></a></li>
          <li><a href="info/1491/11612.htm" title="东城校区高一年级举行跑操比赛" target="_blank">东城校区高一年级举行跑操比赛<span>09/29</span></a></li>
          <li><a href="info/1491/11622.htm" title="东城校区举行孔子诞辰2573年纪念日祭拜仪式" target="_blank">东城校区举行孔子诞辰2573年纪念日祭拜仪式<span>09/29</span></a></li>
         </ul>
        </div> <script>_showDynClickBatch(['dynclicks_u9_11592','dynclicks_u9_11602','dynclicks_u9_11612','dynclicks_u9_11622'],[11592,11602,11612,11622],"wbnews", 1769378822)</script> </li>
      </ul>
     </div>
     <div class="yd-r">
      <div class="title">
       <h3><span>党建之窗</span></h3>
       <a href="djzc/zbjg.htm">更多</a>
      </div>
      <div class="yd-text">
       <ul>
        <li><a href="info/2021/12362.htm" title="党建思政" target="_blank">党建思政</a></li>
        <div class="clear"></div>
       </ul>
      </div>
      <script>_showDynClickBatch(['dynclicks_u10_12362'],[12362],"wbnews", 1769378822)</script>
     </div>
     <div class="clear"></div>
    </div>
   </div>
   <div class="main-down">
    <div class="md-up px1300">
     <div class="md-up-l yd-l">
      <ul>
       <li>
        <div class="title">
         <h3><span>教育</span><span>科研</span></h3>
         <a href="jyky/kcjs/yxlx.htm">更多</a>
        </div>
        <div class="yd-text">
         <ul>
          <li><a href="info/2252/10342.htm" title="“不忘初心，砥砺前行”——东华高级中学井冈山研学夏令营" target="_blank">“不忘初心，砥砺前行”——东华高级中学井冈山研...<span>01/05</span></a></li>
          <li><a href="info/2252/10272.htm" title="东华高级中学生态园校区——阳朔研学（感动中国）" target="_blank">东华高级中学生态园校区——阳朔研学（感动中国）<span>01/05</span></a></li>
          <li><a href="info/2242/10412.htm" title="《时政专题讲座》" target="_blank">《时政专题讲座》<span>03/14</span></a></li>
          <li><a href="info/2222/10522.htm" title="2022年生态园校区读书节活动方案" target="_blank">2022年生态园校区读书节活动方案<span>03/07</span></a></li>
          <li><a href="info/2222/10532.htm" title="2022年东城校区读书节活动方案" target="_blank">2022年东城校区读书节活动方案<span>03/05</span></a></li>
         </ul>
        </div><script>_showDynClickBatch(['dynclicks_u11_10342','dynclicks_u11_10272','dynclicks_u11_10412','dynclicks_u11_10522','dynclicks_u11_10532'],[10342,10272,10412,10522,10532],"wbnews", 1769378822)</script> </li>
       <li>
        <div class="title">
         <h3><span>德育</span><span>之窗</span></h3>
         <a href="dyzc/ldzh/ssjy.htm">更多</a>
        </div>
        <div class="yd-text">
         <ul>
          <li><a href="info/2082/10622.htm" title="赏识教育对孩子成长的重要性" target="_blank">赏识教育对孩子成长的重要性<span>01/09</span></a></li>
          <li><a href="info/2082/10612.htm" title="“赏识教育”的利与弊" target="_blank">“赏识教育”的利与弊<span>01/09</span></a></li>
          <li><a href="info/2142/10912.htm" title="秀我真风采,&nbsp;飞歌满厅场--生态园校区年度体育艺术节系列活动“校园十佳歌手”总决赛成功举办" target="_blank">秀我真风采,&nbsp;飞歌满厅场--生态园校区年度体育艺术...<span>11/25</span></a></li>
          <li><a href="info/2142/10872.htm" title="生态园校区高三年级举行“齐头并进”体育比赛" target="_blank">生态园校区高三年级举行“齐头并进”体育比赛<span>11/25</span></a></li>
          <li><a href="info/2142/10922.htm" title="铿锵军歌凝英气，回肠乐章奏浩声--生态园校区圆满进行了“星光合唱节”校园合唱比赛" target="_blank">铿锵军歌凝英气，回肠乐章奏浩声--生态园校区圆满...<span>11/15</span></a></li>
         </ul>
        </div><script>_showDynClickBatch(['dynclicks_u12_10622','dynclicks_u12_10612','dynclicks_u12_10912','dynclicks_u12_10872','dynclicks_u12_10922'],[10622,10612,10912,10872,10922],"wbnews", 1769378822)</script> </li>
      </ul>
     </div>
     <div class="md-up-r ">
      <div class="title">
       <h3><span>行政领导</span></h3>
       <a href="xxgk/xzld.htm">更多</a>
      </div>
      <div class="xz">
       <a href="info/1031/9392.htm"><img src="images/C08334132130CCEF647383197A1_F34A8EC9_5ACA.jpg" alt="" style="width:161px;height:162px;"></a>
       <div class="xz-say">
        <a href="info/1031/9392.htm"><p>行政领导</p></a>
        <span>&nbsp;校长 简期颐 （任期：2003年6月— &nbsp; &nbsp; &nbsp;）简期颐，东华高级中学校长，兼东华松山...</span>
       </div>
      </div>
      <script>_showDynClickBatch(['dynclicks_u13_9392'],[9392],"wbnews", 1769378822)</script>
     </div>
     <div class="clear"></div>
    </div>
    <div class="md-down">
     <div class="xm px1300">
      <ul>
       <li> <a href="info/1081/9342.htm" title="东城校园风光" target="_blank">
         <div>
          <img src="images/EC88CE4443B39B657A9BC357041_CD60A2F1_3FBE0.jpg" alt="" style="width:276px;height:192px;">
         </div> <p>东城校园风光</p> </a> </li>
       <li> <a href="info/1081/9332.htm" title="生态园校园风光" target="_blank">
         <div>
          <img src="images/7E20EBA15D6D6AB50782A772914_9E7B1308_3F8F5.jpg" alt="" style="width:276px;height:192px;">
         </div> <p>生态园校园风光</p> </a> </li>
      </ul>
     </div>
     <script>_showDynClickBatch(['dynclicks_u14_9342','dynclicks_u14_9332'],[9342,9332],"wbnews", 1769378822)</script>
    </div>
   </div>
  </div>
  <div id="link">
   <div class="link px1300">
    <div class="link-l ">
     <script language="javascript" src="js/openlink.js"></script>
     <ul>
      <li><a href="ztlm/xyw.htm" title="" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1769378822, 1523)">校友网</a></li>
      <li><a href="ztlm/sshxq.htm" title="" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1769378822, 1524)">松山湖校区</a></li>
      <li><a href="ztlm/ybgglxt.htm" title="" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1769378822, 1525)">云办公管理系统</a></li>
      <li><a href="ztlm/yywz.htm" title="" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1769378822, 1526)">语言文字</a></li>
     </ul>
    </div>
    <div class="link-r ">
     <ul>
     </ul>
    </div>
   </div>
  </div>
  <div class="footer">
   <div class="foot px1300">
    <div class="foot-l">
     <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
     <p>版权所有 东莞市东华高级中学 <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" style="color:#fff;">粤ICP备19125080 </a></p>
     <p>电话：东城：(0769)22696051、松山湖：(0769)22666506 &nbsp;地址：光明路1号（邮编：523125）、东莞市松山湖高新产业开发区生态园南朗路5号（邮编：523000）</p>
     <script>(function(){var s = document.getElementsByTagName("script")[0]; var hm = document.createElement("script"); hm.async='async';hm.src =  "https://jyxxapp.dgjy.net:8080/views/statistics/js/script.js?26950d7e-9e64-41d7-bf31-c37ac62338c4";s.parentNode.insertBefore(hm, s);})(); </script>
    </div>
    <div class="foot-r">
     <ul>
      <li class="ew"> <a><img src="images/wb.png" alt=""><img src="images/20180518165946_vlm58fnkd1.jpg" alt="" class="ewm"></a> </li>
      <div class="clear"></div>
     </ul>
    </div>
    <div class="clear"></div>
   </div>
  </div>
  <script src="js/jquery-migrate.min.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/public_7ca9396cc1534039ad3d91c76fabc1d3.js"></script>
  <script>
    $(function() {
        $('.banner').slick({
            autoplay: false,
            dots: true,
            accessibility: false
        })
    })
    function updateLink(event) {
     var link = event.target;  // 获取被点击的链接元素
     var href = link.href;
     href = href.replace(".htm", ".html");
     link.href = href;
     window.location.href = href; // 跳转到新链接
    }

    // 给所有class为myLink的链接添加点击事件
    var links = document.querySelectorAll(".yd-text");
    links.forEach(function(link) {
     link.addEventListener("click", updateLink);
    });
    var links = document.querySelectorAll(" ");
    links.forEach(function(link) {
     link.addEventListener("click", updateLink);
    });
</script>  
 </body>
</html>