<!doctype html>
<html lang="en">
 <head> 
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>学生天地-东莞市东华高级中学</title>
  <meta name="pageType" content="2"> 
  <meta name="pageTitle" content="学生天地"> 
  <meta Name="SiteName" Content="东莞市东华高级中学"> 
  <meta Name="SiteDomain" Content="dgsdhgjzx.dgjy.net"> 
  <meta Name="name" Content="学生天地"> 
  <meta Name="type" Content="news"> 
  <meta Name="description" Content="show"> 
  <meta Name="keywords" Content="学生天地"> 
  <link rel="stylesheet" href="css/public_f41b80447da349a5bbd20168657e2ce5.css"> 
  <link rel="stylesheet" href="css/ny_36a72e362d9a44d281d3f3c9fb7de6a5.css"> 
  <script src="js/jquery_bda5ff9495db48209018414ff9d83c99.js"></script> 
  <script src="js/jquery-migrate.min_a38ce679e42141c2a2817260d3a063c1.js"></script> 
  <script src="js/public_456319e294264d13ae8b5e7611bc9d01.js"></script> 
  <!--Announced by Visual SiteBuilder 9--> 
  <link rel="stylesheet" type="text/css" href="css/_sitegray_d_7defb9a89ec54c7bb746e3a129c2d8f3.css"> 
  <script language="javascript" src="js/_sitegray_6071251fe3c34e4daee5c131ad0306fa.js"></script> 
  <!-- CustomerNO:77656262657232307c78475d50545742000100024754 --> 
  <link rel="stylesheet" type="text/css" href="css/list.vsb_9eecb6084ac142169a362c5486f9db06.css"> 
  <script type="text/javascript" src="js/vsbscreen.min_1f1f8518e78c453687f2a3fd31e87d59.js" id="_vsbscreen" devices="pc|pad"></script> 
  <script type="text/javascript" src="js/counter_393add9b686944578b2a32599ee3c726.js"></script> 
  <script type="text/javascript">_jsq_(1451,'/list.jsp',-1,1769378822)</script> 
 </head> 
 <body> 
  <div class="head"> 
   <div class="header-top"> 
    <div class="head-top px1300"> 
     <div class="head-l"> 
      <!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 --> 
      <a href="index.htm" title="东莞市东华高级中学"><img src="images/xinwaiwanglogofuben1_6d86549976f546989358217002afd970.png" alt=""></a>
     </div> 
     <div class="nav">
      <ul> 
       <li> <a href="xxgk.htm" title="学校概况" target="_self">学校概况</a> 
        <ul class="meau-2"> 
         <li><a href="xxgk/xxjj.htm" title="学校简介" target="_self">学校简介</a></li> 
         <li><a href="xxgk/dsz.htm" title="董事长" target="_self">董事长</a></li> 
         <li><a href="xxgk/xzln.htm" title="校长理念" target="_self">校长理念</a></li> 
         <li><a href="xxgk/xzld.htm" title="行政领导" target="_self">行政领导</a></li> 
         <li><a href="xxgk/ldgh.htm" title="领导关怀" target="_self">领导关怀</a></li> 
         <li><a href="xxgk/xxry.htm" title="学校荣誉" target="_self">学校荣誉</a></li> 
         <li><a href="xxgk/xyfg.htm" title="校园风光" target="_self">校园风光</a></li> 
        </ul> </li> 
       <li> <a href="xyzx.htm" title="校园资讯" target="_self">校园资讯</a> 
        <ul class="meau-2"> 
         <li><a href="xyzx/xxxw.htm" title="学校新闻" target="_self">学校新闻</a></li> 
         <li><a href="xyzx/tzgg.htm" title="通知公告" target="_self">通知公告</a></li> 
        </ul> </li> 
       <li> <a href="djzc.htm" title="党建之窗" target="_self">党建之窗</a> 
        <ul class="meau-2"> 
         <li><a href="djzc/zbjg.htm" title="支部架构" target="_self">支部架构</a></li> 
         <li><a href="djzc/djhd.htm" title="党建活动" target="_self">党建活动</a></li> 
        </ul> </li> 
       <li> <a href="jyky.htm" title="教育科研" target="_self">教育科研</a> 
        <ul class="meau-2"> 
         <li><a href="jyky/jdcgzzz.htm" title="教导处工作职责" target="_self">教导处工作职责</a></li> 
         <li><a href="jyky/kzjs.htm" title="科组建设" target="_self">科组建设</a></li> 
         <li><a href="jyky/kcjs.htm" title="课程建设" target="_self">课程建设</a></li> 
         <li><a href="jyky/jscz.htm" title="教师成长" target="_self">教师成长</a></li> 
         <li><a href="jyky/gxkt.htm" title="高效课堂" target="_self">高效课堂</a></li> 
         <li><a href="jyky/ktyj.htm" title="课题研究" target="_self">课题研究</a></li> 
        </ul> </li> 
       <li> <a href="dyzc.htm" title="德育之窗" target="_self">德育之窗</a> 
        <ul class="meau-2"> 
         <li><a href="dyzc/szzz.htm" title="思政职责" target="_self">思政职责</a></li> 
         <li><a href="dyzc/ldzh.htm" title="立德铸魂" target="_self">立德铸魂</a></li> 
         <li><a href="dyzc/xzzg.htm" title="行者追光" target="_self">行者追光</a></li> 
         <li><a href="dyzc/dyky.htm" title="德育科研" target="_self">德育科研</a></li> 
        </ul> </li> 
       <li> <a href="msgzs.htm" title="名师工作室" target="_self">名师工作室</a> 
        <ul class="meau-2"> 
         <li><a href="msgzs/mxzgzs.htm" title="名校长工作室" target="_self">名校长工作室</a></li> 
         <li><a href="msgzs/mbzrgzs.htm" title="名班主任工作室" target="_self">名班主任工作室</a></li> 
        </ul> </li> 
       <li> <a href="xstd.htm" title="学生天地" target="_self">学生天地</a> 
        <ul class="meau-2"> 
         <li><a href="xstd/xtwxsh.htm" title="校团委学生会" target="_self">校团委学生会</a></li> 
         <li><a href="xstd/xshd.htm" title="学生活动" target="_self">学生活动</a></li> 
         <li><a href="xstd/sttd.htm" title="社团天地" target="_self">社团天地</a></li> 
        </ul> </li> 
       <li> <a href="zszp.htm" title="招生招聘" target="_self">招生招聘</a> 
        <ul class="meau-2"> 
         <li><a href="zszp/xxzs.htm" title="学校招生" target="_self">学校招生</a></li> 
         <li><a href="zszp/jszp.htm" title="教师招聘" target="_self">教师招聘</a></li> 
         <li><a href="zszp/zyzp.htm" title="职员招聘" target="_self">职员招聘</a></li> 
        </ul> </li> 
       <li> <a href="xyhw.htm" title="校友回望" target="_self">校友回望</a> 
        <ul class="meau-2"> 
         <li><a href="xyhw/zmxy.htm" title="知名校友" target="_self">知名校友</a></li> 
        </ul> </li> 
       <div class="clear"></div> 
      </ul> 
     </div> 
     <div class="head-r"> 
      <div class="search"> 
       <script language="javascript" src="js/base64_76b3196011d9483ebcff48a77d5994ba.js"></script>
       <script language="javascript" src="js/jquery-latest.min_c7d2ea8e1b5e46d1acf72e0e04991074.js"></script>
       <script language="javascript" src="js/vue_4c815609ed8d479db3fc8c4f8a687caf.js"></script>
       <script language="javascript" src="js/bluebird.min_ece8d752ce9b40919f92e20fc74baed8.js"></script>
       <script language="javascript" src="js/axios_56405ee565da4d258cc53fa024fac241.js"></script>
       <script language="javascript" src="js/polyfill_27ff72b8c2174028aa72a6e083b5d2bd.js"></script>
       <script language="javascript" src="js/token_e15be4c1b2554ef085f197ae1c5a7508.js"></script>
       <link href="css/index_b3a59b5e7d3b436f93a36a40c15b9d82.css" type="text/css" rel="stylesheet">
       <script language="javascript" src="js/index_43cf143a9015426786d43a6c8359a8d2.js"></script>
       <script language="javascript" src="js/public_f855568628404c348436e3e9108faf54.js"></script>
       <style>
    #appu2 .qwss{
       width: 160px;
    padding-left: 10px;
    padding-right: 6px;
    height: 36px;
    vertical-align: middle;
    background-color: transparent;
    font-size: 14px;}
    #appu2 .tj{
       line-height: 36px;
    vertical-align: middle;}
</style> 
       <div id="divu2"></div> 
       <script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss"  placeholder="请输入关键字" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="image" src="images/search.png" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script> 
       <script>
    $("#divu2").html($("#htmlu2").text());
</script> 
       <script>
    var appOwner = "1769378822";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://jyxxapp.dgjy.net:8080/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
      </div> 
      <img src="images/search_098466dbcdb1479083cbe5241a053e47.png" alt="" class="pic"> 
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
   <div class="banner"> 
    <div> 
     <script language="javascript" src="js/dynclicks_932f638c81164c59b66d4e75423f00f8.js"></script>
    </div> 
   </div> 
  </div> 
  <!-- 中间 --> 
  <div class="nymain px1300"> 
   <div class="channl-menu leftNav"> 
    <p class="wow fadeInUp"> 学生天地</p> 
    <ul> 
     <li> <a href="xstd/xtwxsh.htm" title="校团委学生会" target="_self">校团委学生会</a> </li> 
     <li> <a href="xstd/xshd.htm" title="学生活动" target="_self">学生活动</a> </li> 
     <li> <a href="xstd/sttd.htm" title="社团天地" target="_self">社团天地</a> </li> 
     <div class="clear"></div> 
    </ul> 
   </div> 
   <div class="ny-right"> 
    <div class="position wow fadeInUp"> 
     <h3> 学生天地</h3> 
     <div>
      <span>当前位置：</span> 
      <a href="index.htm" target="_self">网站首页</a>
      <span>-&gt;</span> 
      <a href="xstd.htm" target="_self">学生天地</a> 
     </div> 
    </div> 
    <div class="text-list">
     <ul> 
      <script language="javascript" src="js/centerCutImg_615e888db2ae418ea5bc3fe00dbeb670.js"></script>
      <script language="javascript" src="js/ajax_b0cc4a25e3474001a1ebbb6a4dbe945a.js"></script>
      <li id="line_u8_0"> <a href="info/1461/11742.htm" title="东莞市东华高级中学社团概况" target="_blank">东莞市东华高级中学社团概况</a> <span>2023-01-12</span> </li> 
      <li id="line_u8_1"> <a href="info/1461/11762.htm" title="东华高级中学101个社团一览表" target="_blank">东华高级中学101个社团一览表</a> <span>2023-01-12</span> </li> 
      <li id="line_u8_2"> <a href="info/1461/11752.htm" title="东华高级中学（东城校区）2021级学生会干部名单" target="_blank">东华高级中学（东城校区）2021级学生会干部名单</a> <span>2023-01-12</span> </li> 
      <li id="line_u8_3"> <a href="info/1461/11772.htm" title="东华高级中学（生态园校区）2021级学生会干部名单" target="_blank">东华高级中学（生态园校区）2021级学生会干部名单</a> <span>2023-01-12</span> </li> 
      <li id="line_u8_4"> <a href="info/1491/11592.htm" title="东城校区高一年级包饺子活动顺利进行" target="_blank">东城校区高一年级包饺子活动顺利进行</a> <span>2022-10-14</span> </li> 
      <li id="line_u8_5"> <a href="info/1491/11602.htm" title="生态园校区高二年级顺利举行跑操比赛" target="_blank">生态园校区高二年级顺利举行跑操比赛</a> <span>2022-10-10</span> </li> 
      <li id="line_u8_6"> <a href="info/1491/11612.htm" title="东城校区高一年级举行跑操比赛" target="_blank">东城校区高一年级举行跑操比赛</a> <span>2022-09-29</span> </li> 
      <li id="line_u8_7"> <a href="info/1491/11622.htm" title="东城校区举行孔子诞辰2573年纪念日祭拜仪式" target="_blank">东城校区举行孔子诞辰2573年纪念日祭拜仪式</a> <span>2022-09-29</span> </li> 
      <li id="line_u8_8"> <a href="info/1491/11632.htm" title="生态园校区高一年级新生系列培训圆满完成" target="_blank">生态园校区高一年级新生系列培训圆满完成</a> <span>2022-09-23</span> </li> 
      <li id="line_u8_9"> <a href="info/1451/7071.htm" title="2015年3月学生体验高尔夫" target="_blank">2015年3月学生体验高尔夫</a> <span>2018-05-16</span> </li> 
      <li id="line_u8_10"> <a href="info/1451/7061.htm" title="2015年5月CIE考试" target="_blank">2015年5月CIE考试</a> <span>2018-05-16</span> </li> 
      <li id="line_u8_11"> <a href="info/1451/7051.htm" title="2015年5月社会实践活动" target="_blank">2015年5月社会实践活动</a> <span>2018-05-16</span> </li> 
      <div class="clear"></div> 
      <link rel="stylesheet" Content-type="text/css" href="css/sys_66bf64d809ea45fe8d3c2ef08e7d9e84.css">
      <div class="pb_sys_common pb_sys_normal pb_sys_style1" style="margin-top:10px;text-align:center;">
       <span class="p_t">共45条</span> 
       <span class="p_pages"><span class="p_first_d p_fun_d">首页</span><span class="p_prev_d p_fun_d">上页</span><span class="p_no_d">1</span><span class="p_no"><a href="xstd/3.htm">2</a></span><span class="p_no"><a href="xstd/2.htm">3</a></span><span class="p_no"><a href="xstd/1.htm">4</a></span><span class="p_next p_fun"><a href="xstd/3.htm">下页</a></span><span class="p_last p_fun"><a href="xstd/1.htm">尾页</a></span></span>
      </div>
      <script>_showDynClickBatch(['dynclicks_u8_11742','dynclicks_u8_11762','dynclicks_u8_11752','dynclicks_u8_11772','dynclicks_u8_11592','dynclicks_u8_11602','dynclicks_u8_11612','dynclicks_u8_11622','dynclicks_u8_11632','dynclicks_u8_7071','dynclicks_u8_7061','dynclicks_u8_7051'],[11742,11762,11752,11772,11592,11602,11612,11622,11632,7071,7061,7051],"wbnews", 1769378822)</script>
     </ul> 
    </div> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <div class="footer"> 
   <div class="foot px1300"> 
    <div class="foot-l">
     <!-- 版权内容请在本组件"内容配置-版权"处填写 --> 
     <p>版权所有 东莞市东华高级中学 <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" style="color:#fff;">粤ICP备19125080 </a></p>
     <p>电话：东城：(0769)22696051、松山湖：(0769)22666506 &nbsp;地址：光明路1号（邮编：523125）、东莞市松山湖高新产业开发区生态园南朗路5号（邮编：523000）</p> 
     <script>(function(){var s = document.getElementsByTagName("script")[0]; var hm = document.createElement("script"); hm.async='async';hm.src =  "https://jyxxapp.dgjy.net:8080/views/statistics/js/script.js?26950d7e-9e64-41d7-bf31-c37ac62338c4";s.parentNode.insertBefore(hm, s);})(); </script>
    </div> 
    <div class="foot-r"> 
     <ul> 
      <li class="ew"> <a><img src="images/wb_cccb6d4d7d2e4660b8b23e2d29f2561e.png" alt=""><img src="images/20180518165946_vlm58fnkd1_0710432e434b4d3dad2281ed58bf94b2.jpg" alt="" class="ewm"></a> </li> 
      <div class="clear"></div> 
     </ul>
    </div> 
    <div class="clear"></div> 
   </div> 
  </div>   
 </body>
</html>